<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Career Result</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>

    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Ubuntu:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="CSS/styles1.css" />
  </head>

  <body>

    <div class="container-fluid">
      <div class="info-title">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo01"
          >
            \
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./formsalary">Salary Predictor</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./formcareer">Career Predictor</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>


    <div style="align-items:center;padding:5%;padding-top:8%;"class="row">

      <div class="col">
        <h2 style="text-align:left;">Your Recommended Career is</h2><br>
        <h2 style="text-align:left;"><%= value %></h1>
      </div>
      <div class="col">
        <img
          class="salaryImg img-fluid"
          src="Images/salaryImg1.png"
          alt="salaryImg"
        />
      </div>

    </div>

    </body>
</html>
